<h1>Welcome to Stay4U!</h1>

<p>
    Stay4U is a free hotel booking application that helps you to search hotels in a easiest way.
</p>

<h2>Features</h2>

<p>
    Stay4U allows users to:
</p>

<ul>
    <li>Choose hotel list on a variety of criteria</li>
    <li>Make your own customize choices regarding features</li>
    <li>Compare hotel price with other hotels</li>
</ul>

<p>
Stay4U also supports a variety of hotel facilities.
</p>

<p><%= link_to "Profile Page", welcome_path %></p>